{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container text-center">
  <h1>Subscribe!</h1>
  <p class="text-muted "> Step 1 of 2: Enter account details.</p>
</div>

  <div class="col-md-8 my-3 mx-auto">
    <div class="card mx-5">
      <div class="card-body">
            <form method="POST">
              {% csrf_token %}
                {% crispy form %}
                <button type="submit" class="btn btn-primary">Next</button>
            </form>
      </div>
    </div>
  </div>




{% endblock %}
