{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
  <script src="https://js.stripe.com/v3/"></script>
  <link rel="stylesheet" href="{% static "css/StripeElements.css" %}">
{% endblock extra_head %}

{% block content %}
<div class="container text-center">
  <h1>Subscribe!</h1>
  <p class="text-muted "> Step 2 of 2: Enter payment details.</p>
</div>

  <div class="col-md-8 my-3 mx-auto">
    <div class="card mx-5">
      <div class="card-body">
        <form id="subscription-form">
          <p class='hidden' id='priceId'>price_1HtL0GLPfeVqJ0LGqA9O1SN4</p>
          <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" id='name' placeholder="Name on Card">
          </div>
          <label for="card-element">Payment</label>
          <div id="card-element">
            <!-- Elements will create input elements here -->
          </div>
          <!-- We'll put the error messages in this element -->
          <div id="card-element-errors" role="alert"></div>

          <button id='submit' type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_scripts %}
  <script src="{% static "js/script.js" %}"></script>
{% endblock extra_scripts %}
